<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
</head>
<body>
<div class="container">
    <h3>Quên mật khẩu</h3>
    <form th:action="@{/forgot-password}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" required class="form-control" id="email" name="email">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
        </div>
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
    </form>
</div>
</body>
</html>
